{:deps {local/deps {:local/root "tasks"}}
 :tasks {dev         com.biffweb.tasks/dev
         format      com.biffweb.tasks/format
         clean       com.biffweb.tasks/clean
         deploy      com.biffweb.tasks/deploy
         soft-deploy com.biffweb.tasks/soft-deploy
         refresh     com.biffweb.tasks/refresh
         restart     com.biffweb.tasks/restart
         logs        com.biffweb.tasks/logs
         prod-repl   com.biffweb.tasks/prod-repl
         prod-dev    com.biffweb.tasks/prod-dev
         hello       com.example.tasks/hello

         post-receive com.biffweb.tasks/post-receive
         run-cmd      com.biffweb.tasks/run-cmd}}
