{:paths ["src" "resources"]
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
                               thheller/shadow-cljs {:mvn/version "2.8.40"}
                               binaryage/devtools {:mvn/version "0.9.10"}
                               binaryage/oops {:mvn/version "0.7.0"}
                               cljs-http/cljs-http {:mvn/version "0.1.46"}}}}
 :deps
 {github-jacobobryant/biff
  {:local/root ".."
   ;:git/url "https://github.com/jacobobryant/biff"
   :tag "HEAD"}}}
