{:paths ["src"],
 :deps
 {pro.juxt.crux/crux-core {:mvn/version "1.17.1"},
  pro.juxt.crux/crux-jdbc {:mvn/version "1.17.1"},
  pro.juxt.crux/crux-rocksdb {:mvn/version "1.17.1"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "e0ec5c8c6edab509252caaaebb9e41ef2e2ea527"}}}
