{:paths ["src"],
 :deps
 {pro.juxt.crux/crux-core {:mvn/version "1.17.1"},
  pro.juxt.crux/crux-jdbc {:mvn/version "1.17.1"},
  pro.juxt.crux/crux-rocksdb {:mvn/version "1.17.1"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"}}}
