{:git-url "https://github.com/jacobobryant/biff"
 :group-id "biff"
 :projects
 {util       {:deps [org.clojure/tools.namespace
                     org.slf4j/slf4j-nop]}
  crux       {:projects [util]
              :deps [juxt/crux-core
                     juxt/crux-rocksdb]}
  misc       {:projects [util]
              :deps [buddy/buddy-sign
                     clj-http/clj-http
                     info.sunng/ring-jetty9-adapter
                     jarohen/chime
                     lambdaisland/uri
                     metosin/malli
                     metosin/reitit-ring
                     nrepl/nrepl]}
  middleware {:deps [metosin/muuntaja
                     ring/ring-defaults]
              :projects [util]}
  tasks      {:deps [buddy/buddy-sign
                     selmer/selmer]
              :projects [util]}
  rum        {:deps [rum/rum]}
  client     {:deps [com.taoensso/sente]
              :projects [util]}
  dev        {:deps [girouette/girouette
                     hawk/hawk
                     org.clojure/clojurescript
                     org.clojure/tools.analyzer]}
  main       {:projects [util
                         crux
                         misc
                         middleware
                         rum]}}
 :deps
 {buddy/buddy-sign               {:mvn/version "3.3.0"}
  clj-http/clj-http              {:mvn/version "3.10.0"}
  girouette/girouette            {:git/url "https://github.com/green-coder/girouette"
                                  :sha "0fb2782c1467be17fa11daa29e686b2d7d43a2da"
                                  :deps/root "lib/girouette"}
  hawk/hawk                      {:mvn/version "0.2.11"}
  info.sunng/ring-jetty9-adapter {:mvn/version "0.14.0"}
  jarohen/chime                  {:mvn/version "0.3.2"}
  juxt/crux-core                 {:mvn/version "21.04-1.16.0-beta"}
  juxt/crux-rocksdb              {:mvn/version "21.04-1.16.0-beta"}
  lambdaisland/uri               {:mvn/version "1.4.54"}
  metosin/malli                  {:mvn/version "0.4.0"}
  metosin/muuntaja               {:mvn/version "0.6.7"}
  metosin/reitit-ring            {:mvn/version "0.5.13"}
  nrepl/nrepl                    {:mvn/version "0.6.0"}
  org.clojure/clojurescript      {:mvn/version "1.10.773"}
  org.clojure/tools.analyzer     {:mvn/version "1.0.0"}
  org.clojure/tools.namespace    {:mvn/version "0.2.11"}
  org.slf4j/slf4j-nop            {:mvn/version "1.7.25"}
  ring/ring-defaults             {:mvn/version "0.3.2"}
  rum/rum                        {:mvn/version "0.11.4"}
  selmer/selmer                  {:mvn/version "1.12.23"}
  com.taoensso/sente             {:mvn/version "1.16.0"}}}
