{:git-url "https://github.com/jacobobryant/biff"
 :group-id biff
 :libs {util       {:deps [org.clojure/tools.namespace
                           org.slf4j/slf4j-nop]}
        crux       {:libs [util]
                    :deps [pro.juxt.crux/crux-core
                           pro.juxt.crux/crux-jdbc
                           pro.juxt.crux/crux-rocksdb
                           metosin/malli]}
        xtdb       {:libs [util]
                    :deps [com.xtdb/xtdb-core
                           com.xtdb/xtdb-jdbc
                           com.xtdb/xtdb-rocksdb
                           metosin/malli]}
        misc       {:libs [util]
                    :deps [buddy/buddy-sign
                           clj-http/clj-http
                           com.taoensso/sente
                           info.sunng/ring-jetty9-adapter
                           jarohen/chime
                           lambdaisland/uri
                           metosin/malli
                           metosin/reitit-ring
                           nrepl/nrepl]}
        middleware {:libs [util]
                    :deps [metosin/muuntaja
                           ring/ring-defaults]}
        tasks      {:libs [util]
                    :deps [buddy/buddy-sign
                           selmer/selmer]}
        rum        {:deps [rum/rum]}
        client     {:libs [util]
                    :deps [com.taoensso/sente]}
        dev        {:deps [girouette/girouette
                           hawk/hawk
                           org.clojure/clojurescript
                           org.clojure/tools.analyzer]}
        main       {:libs [util
                           xtdb
                           client
                           misc
                           middleware
                           rum]}
        docs       {:libs [main
                           dev]}
        tests      {:libs [crux
                           misc]}}
 :deps {buddy/buddy-sign               {:mvn/version "3.4.1"}
        clj-http/clj-http              {:mvn/version "3.12.1"}
        com.taoensso/sente             {:mvn/version "1.16.2"}
        com.xtdb/xtdb-core             {:mvn/version "1.19.0"}
        com.xtdb/xtdb-jdbc             {:mvn/version "1.19.0"}
        com.xtdb/xtdb-rocksdb          {:mvn/version "1.19.0"}
        girouette/girouette            {:git/url "https://github.com/green-coder/girouette"
                                        :sha "11be51a6830648278ccbd6589525645af38d23a5"
                                        :deps/root "lib/girouette"}
        hawk/hawk                      {:mvn/version "0.2.11"}
        info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"}
        jarohen/chime                  {:mvn/version "0.3.3"}
        lambdaisland/uri               {:mvn/version "1.4.54"}
        metosin/malli                  {:mvn/version "0.5.1"}
        metosin/muuntaja               {:mvn/version "0.6.8"}
        metosin/reitit-ring            {:mvn/version "0.5.13"}
        nrepl/nrepl                    {:mvn/version "0.8.3"}
        org.clojure/clojurescript      {:mvn/version "1.10.844"}
        org.clojure/tools.analyzer     {:mvn/version "1.0.0"}
        org.clojure/tools.namespace    {:mvn/version "1.1.0"}
        org.slf4j/slf4j-nop            {:mvn/version "1.8.0-beta4"}
        pro.juxt.crux/crux-core        {:mvn/version "1.17.1"}
        pro.juxt.crux/crux-jdbc        {:mvn/version "1.17.1"}
        pro.juxt.crux/crux-rocksdb     {:mvn/version "1.17.1"}
        ring/ring-defaults             {:mvn/version "0.3.2"}
        rum/rum                        {:mvn/version "0.11.4"}
        selmer/selmer                  {:mvn/version "1.12.40"}}}
