["https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_darwin_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_darwin_arm64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_linux_386.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_linux_amd64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_linux_arm.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_linux_arm64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mssqldef_windows_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_darwin_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_darwin_arm64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_linux_386.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_linux_amd64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_linux_arm.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_linux_arm64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/mysqldef_windows_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_darwin_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_darwin_arm64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_linux_386.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_linux_amd64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_linux_arm.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_linux_arm64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/psqldef_windows_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_darwin_amd64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_darwin_arm64.zip"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_linux_386.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_linux_amd64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_linux_arm.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_linux_arm64.tar.gz"
 "https://github.com/sqldef/sqldef/releases/download/v3.10.1/sqlite3def_windows_amd64.zip"]
