{:paths ["src"],
 :deps
 {clj-http/clj-http {:mvn/version "3.12.1"},
  metosin/reitit-ring {:mvn/version "0.5.13"},
  com.taoensso/sente {:mvn/version "1.16.2"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "c629852d89431dd4d78f85d2da224c43233383b6"},
  nrepl/nrepl {:mvn/version "0.8.3"},
  info.sunng/ring-jetty9-adapter {:mvn/version "0.15.1"},
  buddy/buddy-sign {:mvn/version "3.4.1"},
  lambdaisland/uri {:mvn/version "1.4.54"}}}
