{:paths ["src"],
 :deps
 {clj-http/clj-http {:mvn/version "3.12.1"},
  metosin/reitit-ring {:mvn/version "0.5.13"},
  com.taoensso/sente {:mvn/version "1.16.2"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "eb65e992aa02f8903be1424ffe8baf276ecdac34"},
  nrepl/nrepl {:mvn/version "0.8.3"},
  info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"},
  buddy/buddy-sign {:mvn/version "3.4.1"},
  lambdaisland/uri {:mvn/version "1.4.54"}}}
