{:paths ["src"],
 :deps
 {jarohen/chime {:mvn/version "0.3.3"},
  clj-http/clj-http {:mvn/version "3.12.1"},
  metosin/reitit-ring {:mvn/version "0.5.13"},
  com.taoensso/sente {:mvn/version "1.16.2"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "e0ec5c8c6edab509252caaaebb9e41ef2e2ea527"},
  nrepl/nrepl {:mvn/version "0.8.3"},
  info.sunng/ring-jetty9-adapter {:mvn/version "0.14.3"},
  buddy/buddy-sign {:mvn/version "3.4.1"},
  lambdaisland/uri {:mvn/version "1.4.54"}}}
