COOKIE_SECRET={{ new-secret 16 }}
SECURE=false
BIFF_AUTH_SKIP_CAPTCHA=true

# Optional MailerSend settings
MAILERSEND_API_KEY=
MAILERSEND_FROM=
MAILERSEND_REPLY_TO=

# Optional Turnstile settings
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Optional deploy settings
SERVER=

# Optional admin settings
BIFF_ADMIN_USER_ID=
BIFF_ADMIN_ALERT_EMAIL=
