{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "4216ea35284d8c94bcd9bc9ac3271e6980938fb8"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "4216ea35284d8c94bcd9bc9ac3271e6980938fb8"}}}
