{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "5e47ba2c6e635ba6139f2ec4916dffd454e4eec2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "5e47ba2c6e635ba6139f2ec4916dffd454e4eec2"}}}
