{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"}}}
