{:lint-as {com.biffweb.fx/defmachine     clojure.core/def
           com.biffweb.graph/defresolver clojure.core/defn
           com.biffweb.ring/defpath      clojure.core/def
           com.biffweb.ring/defroute     clojure.core/def}
 :hooks   {:analyze-call {com.biffweb.tasks.setup-test/with-temp-dir hooks.biff/with-temp-dir
                          com.biffweb.tasks.tasks-test/with-temp-dir hooks.biff/with-temp-dir}}}
