{:prod {; Standalone topology is only recommended for development.
        :biff.crux/topology :standalone
        ; Uncomment to use jdbc in production:
        ;:biff.crux/topology :jdbc
        ;:biff.crux.jdbc/dbname "..."
        ;:biff.crux.jdbc/user "..."
        ;:biff.crux.jdbc/password "..."
        ;:biff.crux.jdbc/host "..."
        ;:biff.crux.jdbc/port ...
        :biff/host "{{host}}"}
 :dev {:inherit [:prod]
       :biff/dev true
       :biff/host "localhost"}}
