/* See https://tailwindcss.com/ */

@tailwind base;

p {
  @apply mb-3;
}


@tailwind components;

@responsive {
  .btn {
    @apply px-4 py-2 bg-blue-500 text-white rounded;
  }
  .btn:hover, .btn:focus {
    @apply bg-blue-700;
  }
  .input-text {
    @apply border border-gray-500 rounded p-2;
  }
}


@tailwind utilities;
