{:deps
 {biff/views
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/views",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/extra
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/extra",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/middleware
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/middleware",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/components
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/components",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"},
  biff/malli
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/malli",
   :sha "646715f409bc8245c4004e78fed9325dacf3e05d"}}}
