{:paths ["src"],
 :deps
 {metosin/muuntaja {:mvn/version "0.6.8"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "5c018c7a2418cc1a08ab1d5942ce17865310c491"}}}
