{:paths ["src"],
 :deps
 {metosin/muuntaja {:mvn/version "0.6.8"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "8a834723f2ee223d5d9b796abca94f238bd08b79"}}}
