{:paths ["src"],
 :deps
 {metosin/muuntaja {:mvn/version "0.6.8"},
  ring/ring-defaults {:mvn/version "0.3.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "23a38ef2ca9b9b6289730d555843ff2f9c34b291"}}}
