{:paths ["src" "resources"]
 :deps  {org.clojure/clojure                 {:mvn/version "1.12.5"}
         com.biffweb/core                    {:local/root "../core"}
         com.biffweb/fx                      {:local/root "../fx"}
         com.github.seancorfield/next.jdbc   {:mvn/version "1.3.1093"}
         com.zaxxer/HikariCP                 {:mvn/version "7.0.2"}
         com.github.seancorfield/honeysql    {:mvn/version "2.7.1368"}
         metosin/malli                       {:mvn/version "0.20.1"}
         com.taoensso/nippy                  {:mvn/version "3.6.2"}
         org.xerial/sqlite-jdbc              {:mvn/version "3.53.1.0"}
         org.clojure/tools.logging           {:mvn/version "1.3.1"}
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
 :aliases
 {:run   {:extra-paths ["test" "dev"]
          :extra-deps  {com.biffweb/graph {:local/root "../graph"}
                        com.biffweb/tasks {:local/root "../tasks"}}
          :main-opts   ["-m" "com.biffweb.tasks.lib"]}
  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
          :exec-fn    codox.main/generate-docs
          :exec-args  {:source-paths ["src"]
                       :output-path  "target/doc"
                       :source-uri   "https://github.com/jacobobryant/biff.sqlite/blob/{version}/{filepath}#L{line}"
                       :namespaces   [com.biffweb.sqlite]}}}}
