{:paths   ["src"]
 :deps    {aero/aero         {:mvn/version "1.1.6"}
           com.biffweb/stuff {:local/root "../stuff"}}
 :aliases {:run {:extra-paths ["test" "dev"]
                 :extra-deps  {com.biffweb/tasks {:local/root "../tasks"}}
                 :main-opts   ["-m" "com.biffweb.tasks.lib"]}}}
