{:paths ["src"],
 :deps
 {com.taoensso/sente {:mvn/version "1.16.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "d1101f0fa31df89973757e732bc80918744509f6"}}}
