{:paths ["src"],
 :deps
 {com.taoensso/sente {:mvn/version "1.16.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "bfe8ad1af316f3d6730bcc300c19898b53272f70"}}}
