{:paths ["src"],
 :deps
 {com.taoensso/sente {:mvn/version "1.16.2"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "c12e65dc01feeaf44642628c38578f8bab5d2fb1"}}}
