{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "96eeeacf37f2ae5fa9edc3ebc45304430a52dd62"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "96eeeacf37f2ae5fa9edc3ebc45304430a52dd62"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "96eeeacf37f2ae5fa9edc3ebc45304430a52dd62"}}}
