{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"}}}
