{:paths ["src"],
 :deps
 {biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "d1101f0fa31df89973757e732bc80918744509f6"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "d1101f0fa31df89973757e732bc80918744509f6"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "d1101f0fa31df89973757e732bc80918744509f6"}}}
