{:paths ["src" "resources"],
 :deps
 {buddy/buddy-sign {:mvn/version "3.4.1"},
  selmer/selmer {:mvn/version "1.12.40"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "96eeeacf37f2ae5fa9edc3ebc45304430a52dd62"}}}
