{:paths ["src" "resources"],
 :deps
 {buddy/buddy-sign {:mvn/version "3.4.1"},
  selmer/selmer {:mvn/version "1.12.40"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "810ba9e8174d67e70f9540eae85ed21c24d5756b"}}}
