{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.5"}
           com.biffweb/core    {:local/root "../core"}
           com.biffweb/fx      {:local/root "../fx"}}
 :aliases {:run {:extra-paths ["test" "dev"]
                 :extra-deps  {com.biffweb/tasks {:local/root "../tasks"}}
                 :main-opts   ["-m" "com.biffweb.tasks.lib"]}}}
