{:paths ["src" "resources" "target/resources"]
 :deps  {org.clojure/clojure           {:mvn/version "1.12.5"}
         com.biffweb/biff              {:local/root ".."}
         dev.onionpancakes/chassis     {:mvn/version "1.0.365"}
         cheshire/cheshire             {:mvn/version "5.13.0"}
         hato/hato                     {:mvn/version "1.0.0"}
         nrepl/nrepl                   {:mvn/version "1.7.0"}
         cider/cider-nrepl             {:mvn/version "0.59.0"}
         refactor-nrepl/refactor-nrepl {:mvn/version "3.12.0"}
         org.clojure/tools.logging     {:mvn/version "1.3.1"}
         org.clojure/tools.namespace   {:mvn/version "1.5.1"}
         org.slf4j/slf4j-simple        {:mvn/version "2.0.18"}}
 :aliases
 {:prod {:jvm-opts  ["-Djdk.attach.allowAttachSelf"
                     "-XX:-OmitStackTraceInFastThrow"
                     "-XX:+CrashOnOutOfMemoryError"]
         :main-opts ["-m" "com.biffweb.demo"]}
  :run  {:extra-paths ["test"]
         :extra-deps  {com.biffweb/tasks {:local/root "../libs/tasks"}}
         :main-opts   ["-m" "com.biffweb.tasks"]}}}
