{:paths ["src"],
 :deps
 {com.xtdb/xtdb-core {:mvn/version "1.19.0"},
  com.xtdb/xtdb-jdbc {:mvn/version "1.19.0"},
  com.xtdb/xtdb-rocksdb {:mvn/version "1.19.0"},
  metosin/malli {:mvn/version "0.5.1"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"}}}
