["https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-aarch64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-aarch64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-amd64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-amd64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-static-amd64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-linux-static-amd64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-macos-aarch64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-macos-aarch64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-macos-amd64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-macos-amd64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-standalone.jar"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-standalone.jar.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-windows-amd64.zip"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-2026.05.25-windows-amd64.zip.sha256"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-lsp-server-2026.05.25-standalone.jar"
 "https://github.com/clj-kondo/clj-kondo/releases/download/v2026.05.25/clj-kondo-lsp-server-2026.05.25-standalone.jar.sha256"]
