["https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-darwin-aarch64.tar.gz"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-darwin-aarch64.tar.gz.sha256"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-aarch64.tar.gz"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-aarch64.tar.gz.sha256"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-amd64-static.tar.gz"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-amd64-static.tar.gz.sha256"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-amd64.tar.gz"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-linux-amd64.tar.gz.sha256"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-standalone.jar"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-standalone.jar.sha256"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-win-amd64.zip"
 "https://github.com/weavejester/cljfmt/releases/download/0.16.4/cljfmt-0.16.4-win-amd64.zip.sha256"]
