{:deps
 {biff/main
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/main",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/dev
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/dev",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/rum
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/rum",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/xtdb
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/xtdb",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/client
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/client",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/middleware
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/middleware",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "19bd2b9ef56ab3f974aff322b144a6ab507a8b79"}}}
