{:deps
 {biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/client
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/client",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/dev
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/dev",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/middleware
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/middleware",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/rum
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/rum",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/glue
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/glue",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"},
  biff/main
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/main",
   :sha "630c5cd251eca5cc198e7e71008982bc604839e3"}}}
