{:paths ["src" "resources" "target/resources"]
 :deps {biff/main {:git/url "https://github.com/jacobobryant/biff"
                   :deps/root "libs/main"
                   :sha "{{sha}}"}
        biff/dev {:git/url "https://github.com/jacobobryant/biff"
                  :deps/root "libs/dev"
                  :sha "{{sha}}"}
        cider/cider-nrepl {:mvn/version "0.26.0"}}}
