{:lint-as {com.wsscode.pathom3.connect.operation/defmutation clojure.core/defn
           com.wsscode.pathom3.connect.operation/defresolver clojure.core/defn
           com.wsscode.pathom3.plugin/defplugin              clojure.core/def
           com.wsscode.promesa.macros/clet                   clojure.core/let
           com.wsscode.promesa.macros/ctry                   clojure.core/try}}
