{:deps
 {biff/rum
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/rum",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/glue
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/glue",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/client
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/client",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/middleware
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/middleware",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "f15257577b382ce5b9b35301cb460169fceab3c0"}}}
