{:paths ["src"],
 :deps
 {biff/rum
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/rum",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/crux
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/crux",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/glue
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/glue",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/util
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/util",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/client
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/client",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/middleware
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/middleware",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"},
  biff/misc
  {:git/url "https://github.com/jacobobryant/biff",
   :deps/root "libs/misc",
   :sha "8c3eb2e5e0289ee00746c332f875dbf83c42ae16"}}}
