{:paths ["src"],
 :deps
 {biff/views {:local/root "../libs/views"},
  biff/crux {:local/root "../libs/crux"},
  biff/util {:local/root "../libs/util"},
  biff/extra {:local/root "../libs/extra"},
  biff/middleware {:local/root "../libs/middleware"},
  biff/components {:local/root "../libs/components"},
  biff/malli {:local/root "../libs/malli"}}}
