name: Clojure Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Install Clojure CLI
      run: |
        sudo bash < <(curl -L -O https://download.clojure.org/install/linux-install-1.12.2.1565.sh)
        ls /usr/local/bin
        echo $PATH

    - name: Run tests
      run: /usr/local/bin/clj -M:test
