name: Clojure Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Install Clojure CLI
      run: |
        version=1.12.2.1565
        curl -L -O https://download.clojure.org/install/linux-install-$version.sh
        chmod +x linux-install-$version.sh
        sudo ./linux-install-$version.sh

    - name: Run main tests
      run: cd dev; clojure -M:test:test-main:test-xtdb2
    - name: Run xtdb1 tests
      run: cd dev; clojure -Sdeps deps-dev.edn -M:test:test-xtdb1
